<h1>Users CRUD (Array)</h1>

<main id="crud">

  <form class="create">
    <div class="line">
      <label for="name">Nome:</label>
      <input type="text" name="name" required />
    </div>
    <div class="line">
      <label for="last_name">Sobrenome:</label>
      <input type="text" name="last_name" required />
    </div>
    <div class="line">
      <label for="age">Idade:</label>
      <input type="number" name="age" required />
    </div>
    <div class="line">
      <label for="email">E-mail:</label>
      <input type="email" name="email" required />
    </div>
    <div class="line">
      <input type="submit" name="add" value="Adicionar" />
    </div>
  </form>

  <table class="data">

    <thead>
      <th width="20%">Nome</th>
      <th width="25%">Sobrenome</th>
      <th width="10%">Idade</th>
      <th width="25%">E-mail</th>
      <th width="20%">Ações</th>
    </thead>

    <tbody>

      <tr>
        <td><input
            type="text"
            name="name"
            required
            disabled
            value="Lilian"
          /></td>
        <td><input
            type="text"
            name="last_name"
            required
            disabled
            value="de Aquino Menezes"
          /></td>
        <td><input type="number" name="age" required disabled value="27" /></td>
        <td><input
            type="email"
            name="email"
            required
            disabled
            value="lilian@email.com"
          /></td>
        <td>
          <button class="edit">Editar</button>
          <button class="delete">Excluir</button>
          <button class="save">Salvar</button>
          <button class="cancel">Cancelar</button>
        </td>
      </tr>

      <tr class="editing">
        <td><input
            type="text"
            name="name"
            required
            value="Wilbelison"
          /></td>
        <td><input
            type="text"
            name="last_name"
            required
            value="Santos Costa Junior"
          /></td>
        <td><input type="number" name="age" required value="39" /></td>
        <td><input
            type="email"
            name="email"
            required
            value="meustudio@gmail.com"
          /></td>
        <td>
          <button class="edit">Editar</button>
          <button class="delete">Excluir</button>
          <button class="save">Salvar</button>
          <button class="cancel">Cancelar</button>
        </td>
      </tr>

      <tr>
        <td><input
            type="text"
            name="name"
            required
            disabled
            value="Pandora"
          /></td>
        <td><input
            type="text"
            name="last_name"
            required
            disabled
            value="Lawrence"
          /></td>
        <td><input type="number" name="age" required disabled value="4" /></td>
        <td><input
            type="email"
            name="email"
            required
            disabled
            value="pandora@email.com"
          /></td>
        <td>
          <button class="edit">Editar</button>
          <button class="delete">Excluir</button>
          <button class="save">Salvar</button>
          <button class="cancel">Cancelar</button>
        </td>
      </tr>

    </tbody>
  </table>

</main>